



<div class="container-fluid">
  
  <div class="row">
    <div class="col-12 ">
      <h2>{{title}} / <a [routerLink]="['/form']" class="btn btn-primary" role="button" title="Un click para Agregar un nuevo usuario" ><span class="glyphicon glyphicon-plus"></span> Agregar un nuevo usuario</a></h2>
    </div>
  </div>  

  <br>

  <div class="row">                   
    <div class="col-12 col-sm-12 col-md-8">
      <table class="table  table-striped table-dark">
        <thead class="thead-dark">
        <tr>
          <th>Usuarios</th>
          <th>Fecha de Cumpleaños</th>
          <th>Acciones</th>
        </tr>
        </thead>
          <tr *ngFor="let user of users">
            <td> {{user.nombre}}</td>
            <td>{{user.date}}</td>
            <td>
              <a [routerLink]="['/detail/'+user.id]" class="btn btn-success" role="button" title="Un click para ver el usuario" ><span class="glyphicon glyphicon-eye-open"></span> </a>
              <a [routerLink]="['/form/'+user.id]" class="btn btn-info" role="button" title="Un click para editar" ><span class="glyphicon glyphicon-pencil"></span> </a>
              <button (click)="delete(user.id)" class="btn btn-danger" role="button" title="Un click para borrar" ><span class="glyphicon glyphicon-trash"></span> </button>
            </td>
          </tr>
      </table>
    </div>
        
    <div class="col-12 col-sm-12 col-md-4 " id="logo"> 
      <div class="d-flex justify-content-center">
        <img  src="assets/img/angular-logo.png" alt="">
      </div>  
    </div>
               
 </div>
</div> 