

<div class="container">
  <div class="row">
      <div class="col-12">
          <h2 >{{title}} / <a href="/" class="btn btn-primary" role="button" title="Un click para volver a la lista de usuarios" ><span class="glyphicon glyphicon-backward"></span> Volver a la lista de usuarios</a></h2>
      </div>
  </div>
  <br>
  <table class="table table-borderled table-dark table-hover" >
      <tr>
          <th>Nombre del Usuario</th>
          <th>Fecha de cumpleaños</th>
          
      </tr>
      <tr>
        <td>{{selectedUser.nombre}}</td>
        <td>{{selectedUser.date}}</td>
          
          
      </tr>
  </table>
  <br>
  <div class="row">
    <div class="col-12  "> 
      <div class="d-flex justify-content-center "  id="logo2">
        <img  src="assets/img/angular-logo.png" alt="">
      </div>  
    </div>
  </div>
</div>  